/Client/.vscode
/Server/Identification/.vs
/Server/Identification/Identification/obj
/Server/Identification/Redis/obj
/Server/Identification/PGAdminDAL/obj
/Server/.vs
/Server/Identification/obj
/Server/Logger/obj
/Server/PGAdminDAL/obj
/Server/Redis/obj
/Server/Server/obj
/Server/bin
/Server/Hash/obj
/Server/Identification/bin
/Server/obj
/Server/Logger/bin
/Server/PGAdminDAL/bin
/Server/Redis/bin
/Server/SessionService/obj
/Server/FinanceService/bin
/Server/FinanceService/obj
/Server/Hash/bin
/Server/Services/bin
/Server/Services/obj/Debug
/Server/SessionService/bin
/Server/Services/obj
